button {
   padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: rgb(43,150,221);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px;
  margin-top:50px;
  margin-left: 50px;
  width: 200px;
  box-shadow: 0 5px rgb(33,126,186);
  font-family: "Arial Narrow",Arial,sans-serif;
  font-weight: 5px;
}


button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
}